* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.crosshair 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    filter: drop-shadow(1px 1px 1px black);
}

.hitCrosshair 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    filter: drop-shadow(1px 1px 1px black);
}